.App {
  text-align: center;
}

body {
  margin-top: 20em;
  text-align: center;
  background-image:url("vintage-old-newspaper-background-vector.jpg");
  position: relative;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 3em;
  color: dimgrey;
  font-weight: 800;
}

h3 {
  font-family: 'Fredoka One', cursive;
font-size: 2em;
color: rgb(70, 70, 70) ;
font-weight: 700;
}
